<form action="/favourite-list" method="post">
  <button
    class="w-full bg-gradient-to-r from-pink-500 to-red-500 hover:from-pink-600 hover:to-red-600 text-white font-semibold py-3 px-6 rounded-xl shadow-md hover:shadow-xl transition transform hover:-translate-y-1">
    Add to Favourites
  </button>
  <input type="hidden" name="id" value="<%= homeReg._id %>">
</form>